# Core Web Framework
flask==3.0.0
flask-cors==4.0.0
flask-socketio==5.3.5
python-socketio==5.10.0
python-engineio==4.7.1
python-dotenv==1.0.0
eventlet==0.33.3
Werkzeug==3.0.1

# Detection Engine (Core dependencies)
opencv-contrib-python==4.9.0.80
mediapipe==0.10.21
numpy==1.26.4
scipy==1.15.3
fer==22.5.1

# Additional required packages
matplotlib==3.10.8
pillow==12.0.0

absl-py==2.1.0
astunparse==1.6.3
attrs==23.2.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
colorama==0.4.6
contourpy==1.2.0
cycler==0.12.1
decorator==4.4.2
dm-tree==0.1.8
facenet-pytorch==2.5.3
fer==22.5.1
ffmpeg==1.4
ffpyplayer==4.5.1
filelock==3.13.1
flatbuffers==24.3.7
fonttools==4.49.0
fsspec==2024.2.0
gast==0.4.0
google-auth==2.29.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.62.1
h5py==3.10.0
idna==3.6
imageio==2.34.0
imageio-ffmpeg==0.4.9
jax==0.4.25
Jinja2==3.1.3
keras==2.12.0
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
ml-dtypes==0.3.2
moviepy==1.0.3
mpmath==1.3.0
mss==9.0.1
namex==0.0.7
networkx==3.2.1
oauthlib==3.2.2
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==24.0
pandas==2.2.1
proglog==0.1.10
protobuf==3.20.3
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.17.2
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pyqtgraph==0.13.4
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
requests-oauthlib==1.4.0
rich==13.7.1
rsa==4.9
six==1.16.0
sounddevice==0.4.6
sympy==1.12
tensorboard==2.12.3
tensorboard-data-server==0.7.2
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-intel==2.12.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
torch==2.2.1
torchvision==0.17.1
tqdm==4.66.2
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
wrapt==1.14.1
pygame==2.1.3